.card {
  margin: 10px;
  background: #1d1d1d;
  min-width: 400px;
  min-height: 250px;

  &__header {
    font-size: 30px;
  }

  &__list {
    font-size: 20px;
  }
}

.text-color {
  text-decoration: none;
}

